<div class="container">
  <h2>Login como {{ perfilService.getPerfil() | uppercase }}</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Matrícula</label>
      <input type="text" formControlName="matricula" placeholder="Digite sua matrícula">
    </div>
    <div class="form-group">
      <label>Senha</label>
      <input type="password" formControlName="senha" placeholder="Digite sua senha">
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
  </form>
  <!-- Adicione isto no final do seu template -->
<div class="cadastro-link">
  <p>Não tem uma conta? <a routerLink="/Cadastro" (click)="navigateToCadastro()">Cadastre-se</a></p>
</div>
</div>